<url-connector>
	<url-publishers>
		<url-publisher name='weather'>
			<requests>
				<request name="weather">
					<url><![CDATA[http://api.openweathermap.org/data/2.5/group?id=4487042,4180439,5368361,4930956,4164138,5128581,4140963,5809844,5391959,4671654&APPID=@APPID@&units=imperial]]></url>
				</request>
			</requests>
			<generate>0</generate>
			<event-loops>
            	<event-loop-json name='loop'>
              		<use-json>#_content</use-json>
					<json>$.list</json>
			        <opcode>upsert</opcode>
					<function-context>
						<functions>
							<function name='id'>json(#_context,'id')</function>
							<function name='name'>json(#_context,'name')</function>
							<function name='weather'>json(#_context,'weather.description')</function>
							<function name='temp'>json(#_context,'main.temp')</function>
							<function name='tempMin'>json(#_context,'main.temp_min')</function>
							<function name='tempMax'>json(#_context,'main.temp_max')</function>
							<function name='pressure'>json(#_context,'main.pressure')</function>
							<function name='humidity'>json(#_context,'main.humidity')</function>
							<function name='windSpeed'>json(#_context,'wind.speed')</function>
							<function name='windDirection'>json(#_context,'wind.deg')</function>
							<function name='sunrise'>json(#_context,'sys.sunrise')</function>
							<function name='sunset'>json(#_context,'sys.sunset')</function>
							<function name='lat'>json(#_context,'coord.lat')</function>
							<function name='lon'>json(#_context,'coord.lon')</function>
							<function name='guid'>guid()</function>
						</functions>
					</function-context>
            	</event-loop-json>
			</event-loops>
		</url-publisher>
	</url-publishers>
</url-connector>
