<!DOCTYPE html>

<html>

<head>

<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<title>ESP Template</title>

<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>

<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
-->

<script type="text/javascript">
var _esp = null;
</script>

<!-- Run from an esp-connect install -->
<link rel="stylesheet" href="../../style/connect.css" />
<script type="module">
import {api} from "../../js/ui/main.js";
_esp = api;
</script>

<!-- Run from an esp-connect webpack bundle (you can put the bundle anywhere) -->
<!--
<script type="text/javascript" src="../../dist/esp-connect-ui.js"></script>
<script type="text/javascript">
_esp = esp_connect_ui.api;
</script>
-->

<script type="text/javascript">

var _project = "myproject";

var _eventsources = null;
var _visuals = null;
var _conn = null;

function
init()
{
    var parms = _esp.getParms();

    if (parms.hasOwnProperty("project"))
    {
        _project = parms["project"];
    }

    if (_esp.hasParm("theme") == false)
    {
        _esp.setParm("theme","sas_opal");
    }

    _visuals = _esp.createVisuals(_esp.getParms());

    var server = _esp.getServerFromParms(parms,_project);

    if (server == null)
    {
        _esp.showConnectDialog({connect:connect});
        return;
    }

    connect(server);
}

function
connect(server)
{
    document.getElementById("bannerTitle").innerHTML = document.title + " (" + server + ")";
    _esp.showStatus("Loading project...");
    var url = new URL("model.xml",document.URL).toString();
    _esp.connect(server,{ready:ready,error:error},{model:{name:_project,url:url},overwrite:true,force:_esp.getParm("force",false)});
    _esp.handleLayout();
}

var _model = null;

function
ready(connection)
{
    _esp.clearStatus();
    _conn = connection;

    _conn.getProjectXml(_project,{
        response:function(c,data){
            _model = data;
        }
    });

    _conn.getEventCollection({window:_project + "/cq/s"}).then(
        function(result) {
            _visuals.createTable("mytable",result);
            _visuals.createBarChart("mychart",result,{y:["number"],color:"number",gradient:{color:"#3b99fc",end:true}});
            _esp.size();
        }
    );

    /*
    _eventsources = _conn.createEventSources();
    _eventsources.configureFromUrl(new URL("eventsource.xml",document.URL).toString(),{start:true});
    */
}

function
error(message)
{
    console.log(message);
}

</script>
</head>

<body onload="init()">

    <div id="banner">
        <table style="width:100%" cellspacing="0" cellpadding="0">
            <tr>
                <td id="bannerTitle"></td>
                <td class="icon">
                    <a class="icon" href="javascript:_esp.showCodeDialog('Model XML',_model)" title="Model XML">&#xf7c1;</a>
                    <a class="icon" href="javascript:_visuals.showModel(_conn,{title:'ESP Model',header:'Model Viewer',project:_project,type:true,memory:true,show_projects:false})" title="ESP Model">&#xf501;</a>
                    <a class="icon" href="javascript:_esp.showFrameDialog('ESP Template','help.html',{width:'80%',height:'80%'})" title="Help">&#xf30b;</a>
                </td>
            </tr>
        </table>
    </div>

    <div id="content" class="container">
        <div id="mytable" class="component" style="width:60%;height:400px"></div>
        <div id="mychart" class="component" style="width:60%;height:400px"></div>
    </div>

    <div id="footer">&nbsp;</div>

</body>

</html>
